<html>
  <head>
    <title>reCAPTCHA demo: Running both v2 and v3</title>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcC1L0UAAAAADnJsgFoPH4mY2LQD99naXtO7rmQ"></script>
    <script>
      grecaptcha.ready(() => {
        grecaptcha.render('#ddd', {
           'sitekey' : '6LcC1L0UAAAAADnJsgFoPH4mY2LQD99naXtO7rmQ'
        });
      });
    </script>
    <script>
      function onSubmit() {
        grecaptcha.ready(() => {
            grecaptcha.execute('6LcC1L0UAAAAADnJsgFoPH4mY2LQD99naXtO7rmQ', {action: 'homepage'}).then((token) => {
            });
        });
      }
    </script>
  </head>
  <body>
	  <div id="ddd">

	  </div>
  </body>
</html>