.bg-gradient {
  background-image: linear-gradient(to right, #F4CF00, black , #F4CF00);
}

.nav-img{
  width:50px;
  width:50px;
  margin-left: 40px;
}
.bg-black{
  background-color: #201D1D;
}
.login-title{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.login-header
{
  padding: .75rem 1.25rem;
  margin-bottom: 0;
}
.img-circle {
  border-radius: 50%;
  border: solid #F4CF00 1px;
}
.aligncenter{
  text-align: center;
}
.bottom-align{
  text-align: center;
  bottom:0;
}
.bottom-img{
  width:200px;
}
/* .py-4 {
  padding-top: 5.5rem!important;
} */
.btn-login{
  width: 100%;
  color: #F4CF00;
  background-color: black;
  border-color: black;
}
.btn-login:hover {
  color: #F4CF00;
  background-color: black;
  border-color: black;
}
.form-btn {
  position: relative;
  display: block;
}
/* .form-group {
  margin-left: 1rem;
  margin-right: 1rem;
} */
.bottom-a{
  color:#F4CF00 !important;  
}
.bottom-click{
  color:black !important;  
}
.no-padding{
  padding: 0rem 0rem;
  margin-bottom: 2px;
}